openapi: 3.0.0
info:
  title: cloudapi_v2
  version: '2.0'
  description: buaa scs cloud api v2
  license:
    name: MIT
  contact:
    name: loheagn
    email: loheagn@icloud.com
  termsOfService: 'https://scs.buaa.edu.cn'
tags:
  - name: 课程
    description: 课程相关
  - name: 作业
    description: 作业相关
  - name: 文件
    description: 文件相关
  - name: 课程资源
    description: 课程资源相关
  - name: 统计
    description: 获取各种统计信息
  - name: 互评
    description: 互评相关接口
  - name: 鉴权
    description: 身份认证相关接口
  - name: 虚拟机
    description: 虚拟机相关接口
servers:
  - url: 'https://scs.buaa.edu.cn/api/v2'
paths:
  '/experimnet/{experimentId}':
    parameters:
      - schema:
          type: integer
        name: experimentId
        in: path
        required: true
    get:
      summary: 获取一项实验（作业）
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
      operationId: get-experimnet-experimentId
      description: 获取一项实验（作业）详情
      security:
        - Authorization: [ ]
    put:
      summary: 修改实验/作业信息
      operationId: put-experimnet-experimentId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
      description: 教师或助教修改实验/作业信息
      tags:
        - 作业
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutExperimentRequest'
      security:
        - Authorization: [ ]
  '/experiment/{experimentId}/assignment':
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
    post:
      summary: 创建作业
      tags:
        - 作业
      operationId: post-experiment-experimentId-assignment
      security:
        - Authorization: [ ]
      description: 第一次上传作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentRequest'
  '/experiment/{experimentId}/assignments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
    get:
      summary: 获取实验（作业）下学生提交的作业信息
      operationId: get-experiment-experimentId-assignment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentListResponse'
      description: |-
        获取实验（作业）下学生提交的作业信息

        如果是当前课程的教师或助教调用，则返回当前实验的全部作业

        否则，仅返回当前学生的作业
      security:
        - Authorization: [ ]
      tags:
        - 作业
  '/experiment/{experimentId}/assignment/{assignmentId}':
    parameters:
      - schema:
          type: integer
        name: experimentId
        in: path
        required: true
      - schema:
          type: integer
        name: assignmentId
        in: path
        required: true
    patch:
      summary: 修改作业
      operationId: patch-experiment-experimentId-assignment
      security:
        - Authorization: [ ]
      description: 重复上传作业，直接覆盖之前的作业
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAssignmentRequest'
    get:
      summary: 查看作业
      operationId: get-experiment-experimentId-assignment-assignmentId
      security:
        - Authorization: [ ]
      description: 查看某次作业的详细信息
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
  '/file/{fileId}':
    parameters:
      - schema:
          type: integer
        name: fileId
        in: path
        required: true
    get:
      summary: 获取文件元信息
      tags:
        - 文件
      operationId: get-file-fileId
      security:
        - Authorization: [ ]
      description: 获取文件的元信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
  '/file/{fileId}/content':
    parameters:
      - schema:
          type: integer
          format: int32
        name: fileId
        in: path
        required: true
    get:
      summary: 下载文件
      tags:
        - 文件
      operationId: get-file-fileId-content
      description: |-
        下载文件
        文件的一些元信息（名称、format-type）等展示在相应的header中

        该接口的response是一个二进制字节流，即为文件的内容
      security:
        - Authorization: [ ]
      parameters: [ ]
      responses:
        '200':
          description: OK
          headers:
            content-disposition:
              schema:
                type: string
                example: attachment; filename=%E6%9D%8E%E6%A5%A0_15131049_%E6%B5%8B%E8%AF%95%E4%BD%9C%E4%B8%9A02.doc
              description: 可以从该header中检出文件名。从示例中可以看出，filename之后的内容为文件名（未防止乱码，文件名使用了URL编码，使用时可以重新解码）
            content-type:
              schema:
                type: string
              description: 描述了文件的mimetype
            file-size:
              schema:
                type: integer
                format: int64
              description: 文件大小
  /file:
    post:
      summary: 创建或修改文件
      operationId: post-file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
      tags:
        - 文件
      description: 上传新文件，或修改旧文件。如果请求体中的fileId为空或为0，那么为创建新文件，或者为修改旧文件
      security:
        - Authorization: [ ]
      parameters: [ ]
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
        description: 在创建文件时，支持传入多个fileItem。注意：如果fileId不为空且不为0时，传入多个fileItem，那么行为不可控
  /file/package:
    get:
      summary: 下载打包好的zip
      tags:
        - 文件
      responses:
        '200':
          description: OK
          headers:
            content-length:
              schema:
                type: string
            content-disposition:
              schema:
                type: string
                example: attachment; filename=package.zip
          content:
            application/zip:
              schema:
                type: object
                properties: { }
      operationId: get-file-package
      description: 打包下载文件，如下载当前实验的全部作业，或下载当前课程的全部资源
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: string
          in: query
          name: packageId
          required: true
        - schema:
            type: string
            format: int32
          in: query
          name: packageName
          required: true
    post:
      summary: 触发打包动作
      operationId: post-file-package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilePackageResponse'
      tags:
        - 文件
      security:
        - Authorization: [ ]
      description: 触发打包动作
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePackageRequest'
  '/course/{courseId}/resources':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程所属的所有课程资源
      tags:
        - 课程资源
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CourseResourceResponse'
      operationId: get-course-courseId-resource
      security:
        - Authorization: [ ]
      description: 获取课程所属的所有课程资源
      parameters:
        - schema:
            type: string
          in: query
          name: type
          description: '表示获取的课程资源类型，如果该值为空，则表示两种资源都获取。CourseResource, ExperimentResource'
    delete:
      summary: 批量删除课程资源
      operationId: delete-course-courseId-resources
      responses:
        '200':
          description: OK
      tags:
        - 课程资源
      description: 批量删除课程资源
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCourseResourcesRequest'
  '/course/{courseId}/resource/{resourceId}':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
      - schema:
          type: integer
          format: int32
        name: resourceId
        in: path
        required: true
    delete:
      summary: 删除课程资源
      operationId: delete-course-courseId-resource-resourceId
      responses:
        '200':
          description: OK
      tags:
        - 课程资源
      description: 删除课程资源
      security:
        - Authorization: [ ]
  '/course/{courseId}':
    parameters:
      - schema:
          type: string
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程信息
      tags:
        - 课程
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
      operationId: get-course-courseId
      description: 获取课程信息
      security:
        - Authorization: [ ]
  '/stat/exp/{expId}/assignments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: expId
        in: path
        required: true
    get:
      summary: 统计某门实验的提交作业的情况
      tags:
        - 统计
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatExpAssignmentResponse'
      operationId: get-stat-exp-expId-assignment
      description: 统计某门实验的提交作业的情况（该课程的助教或教师调用）
      security:
        - Authorization: [ ]
  '/stat/course/{courseId}/experiments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程中所有实验的统计信息
      tags:
        - 统计
        - 课程
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatCourseExpsResponse'
      operationId: get-stat-course-courseId-experiments
      description: 获取课程中所有实验的统计信息，本课程的助教或教师调用
      security:
        - Authorization: [ ]
  /expriments:
    get:
      summary: 获取实验信息列表
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
      operationId: get-expriments
      description: 学生获取属于自己的实验信息列表
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: termId
          description: 学期序号。该值缺失，或小于等于0时，将默认获取最新学期的信息
        - schema:
            type: boolean
          in: query
          name: submitted
          description: 当为true时，表示获取已完成的实验列表；为false时，表示获取未完成的实验列表；缺失时，表示同时获取已完成和未完成的实验列表。
        - schema:
            type: integer
          in: query
          name: courseId
          description: 当为空或不合法时，获取所有符合上述条件的课程的实验列表
  /experiment:
    post:
      summary: 创建实验/作业
      operationId: post-experiment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
      tags:
        - 作业
      security:
        - Authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExperimentRequest'
      description: 创建实验/作业
  /experiments/names:
    get:
      summary: 获取实验名称列表
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      operationId: get-experiments-names
      description: 获取实验名称列表
      parameters:
        - schema:
            type: integer
          in: query
          name: courseId
          description: 指定课程
  '/experiment/{experimentId}/selectStandardAssignments':
    post:
      summary: 获取需要作为互评标准作业的作业
      operationId: post-experiment-selectStandardAssignments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentWithStandardScoreResponse'
      description: 获取需要作为互评标准作业的8份作业，如果没有就创建（助教或教师调用）
      security:
        - Authorization: [ ]
      parameters: [ ]
      tags:
        - 互评
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
  '/experiment/{experimentId}/enablePeer':
    post:
      summary: 为一项实验正式开启互评
      operationId: post-experiment-enablePeer
      responses:
        '200':
          description: OK
      description: 为一项实验正式开启互评
      security:
        - Authorization: [ ]
      parameters: [ ]
      tags:
        - 互评
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
  /peerAssessment:
    post:
      summary: 为一个作业评分
      operationId: post-peerAssessment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssessmentInfoResponse'
      tags:
        - 互评
      description: 为一项作业评分
      security:
        - Authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePeerAssessmentRequest'
    get:
      summary: 获取某个作业的互评信息
      operationId: get-peerAssessment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentPeerAssessmentResultResponse'
      tags:
        - 互评
      description: 获取某个作业的互评信息
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: assignmentId
          required: true
  /peerTasks:
    get:
      summary: 获取属于自己的互评任务
      tags:
        - 互评
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentPeerTaskResponse'
      operationId: get-peerTasks
      description: 学生获取属于自己的互评任务
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: expId
          required: true
    parameters: [ ]
  /peerAppeal:
    post:
      summary: 提起申诉
      operationId: post-peerAppeal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAppealResponse'
      tags:
        - 互评
      description: 学生提起申诉
      security:
        - Authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePeerAppealRequest'
  '/peerAppeal/{peerAppealId}':
    parameters:
      - schema:
          type: integer
          format: int32
        name: peerAppealId
        in: path
        required: true
    get:
      summary: 查看一项互评申诉
      tags:
        - 互评
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAppealResponse'
      operationId: get-peerAppeal-peerAppealId
      security:
        - Authorization: [ ]
      description: 查看一项互评申诉
    delete:
      summary: 删除一项互评申诉
      operationId: delete-peerAppeal-peerAppealId
      responses:
        '200':
          description: OK
      security:
        - Authorization: [ ]
      tags:
        - 互评
      description: 删除一项互评申诉（学生主动撤销）
    patch:
      summary: 修改互评申诉
      operationId: patch-peerAppeal-peerAppealId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeerAppealResponse'
      tags:
        - 互评
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPeerAppealRequest'
      description: 两种应用场景：学生修改申诉的内容；教师或助教处理申诉
      security:
        - Authorization: [ ]
  /peerAppeals:
    get:
      summary: 获取互评申诉列表
      tags:
        - 互评
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PeerAppealResponse'
      operationId: get-peerAppeals
      description: 获取互评申诉列表
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: expId
          required: true
        - schema:
            type: integer
          in: query
          name: studentId
          description: 如果调用者为学生，那么即使设置了该字段，也会被忽略
  /assignmentReviews:
    post:
      summary: 保存评阅作业记录
      operationId: post-assignmentReviews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentReviewResponse'
      tags:
        - 作业
      description: 保存评阅记录记录
      security:
        - Authorization: [ ]
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentReviewRequest'
    delete:
      summary: 删除某个作业的所有评阅记录
      operationId: delete-assignmentReviews
      responses:
        '200':
          description: OK
      description: 删除某个作业的所有评阅记录
      tags:
        - 作业
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: assignmentId
    get:
      summary: 获取一项作业的评阅记录
      operationId: get-assignmentReviews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignmentReviewResponse'
      tags:
        - 作业
      description: 获取一项作业的评阅记录
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: assignmentId
  /authentications:
    get:
      summary: 校验token
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Authentication'
      operationId: get-authentications
      description: 校验token
      security:
        - Authorization: [ ]
      tags:
        - 鉴权
  '/vm/{vmId}':
    parameters:
      - schema:
          type: string
        name: vmId
        in: path
        required: true
        description: vm uuid
    get:
      summary: get vm by uuid
      tags:
        - 虚拟机
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualMachine'
      operationId: get-vm-vmId
      security:
        - Authorization: [ ]
      description: 根据UUID获取虚拟机信息
  '/vm/{vmId}/power':
    parameters:
      - schema:
          type: string
        name: vmId
        in: path
        required: true
        description: vm uuid
    patch:
      summary: 虚拟机开关机
      operationId: patch-vm-vmId-power
      responses:
        '200':
          description: OK
      description: 对虚拟机进行开关机操作
      tags:
        - 虚拟机
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: string
          in: query
          name: action
          required: true
          description: powerOn 表示开机；powerOff 表示关机
        - schema:
            type: boolean
          in: query
          name: sync
          description: 表示该请求是否同步返回，默认为false，即默认异步。client需要在后续查询具体的执行情况
  /vms:
    get:
      summary: get Virtual Machine list
      tags:
        - 虚拟机
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VirtualMachine'
      operationId: get-vms
      description: 获取符合条件的所有虚拟机
      security:
        - Authorization: [ ]
      parameters:
        - schema:
            type: string
          in: query
          name: studentId
        - schema:
            type: string
          in: query
          name: teacherId
        - schema:
            type: integer
            format: int32
          in: query
          name: experimentId
components:
  schemas:
    AssignmentResponse:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 22
          studentId: '15131049'
          fileId: 40
          expId: 1062
          courseId: 438
          createdAt: 1643361519220
          updatedAt: 1643363133061
      properties:
        id:
          type: integer
        studentId:
          type: string
          minLength: 1
        expId:
          type: integer
        courseId:
          type: integer
        file:
          $ref: '#/components/schemas/FileResponse'
        createdAt:
          type: integer
          format: int64
          description: 长整型时间戳
        updatedAt:
          type: integer
          format: int64
          description: 长整型时间戳
        peerScore:
          type: number
          format: double
        finalScore:
          type: number
          format: double
        assignmentReview:
          $ref: '#/components/schemas/AssignmentReviewResponse'
      required:
        - id
        - studentId
        - expId
        - courseId
        - createdAt
        - updatedAt
    AssignmentWithStandardScoreResponse:
      description: 附带“标准成绩”的Assignment Response
      type: object
      x-examples:
        example-1:
          id: 22
          studentId: '15131049'
          fileId: 40
          expId: 1062
          courseId: 438
          createdAt: 1643361519220
          updatedAt: 1643363133061
      title: AssignmentWithStandardScoreResponse
      properties:
        id:
          type: integer
        studentId:
          type: string
          minLength: 1
        expId:
          type: integer
        courseId:
          type: integer
        file:
          $ref: '#/components/schemas/FileResponse'
        createdAt:
          type: integer
          format: int64
          description: 长整型时间戳
        updatedAt:
          type: integer
          format: int64
          description: 长整型时间戳
        peerInfo:
          $ref: '#/components/schemas/AssessmentInfoResponse'
      required:
        - id
        - studentId
        - expId
        - courseId
        - createdAt
        - updatedAt
    FileResponse:
      description: ''
      type: object
      x-examples:
        example-2:
          id: 0
          name: string
          uploadTime: -9223372036854776000
          fileType: string
          fileSize: -9223372036854776000
          uploader: string
          owner: string
          downloadLink: 'http://example.com'
          createdAt: -9223372036854776000
          updatedAt: -9223372036854776000
          contentType: string
          involveId: -2147483648
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        uploadTime:
          type: integer
          format: int64
        fileType:
          type: string
          minLength: 1
          description: 文件类型，枚举值，可选：Assignment
        fileSize:
          type: integer
          format: int64
          description: 文件大小，长整型
        uploader:
          type: string
          minLength: 1
        owner:
          type: string
          minLength: 1
        downloadLink:
          type: string
          format: uri
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        contentType:
          type: string
          description: mimeType
        involveId:
          type: integer
          format: int32
      required:
        - id
        - name
        - uploadTime
        - fileType
        - fileSize
        - uploader
        - owner
        - downloadLink
        - createdAt
        - updatedAt
        - contentType
        - involveId
    AssignmentRequest:
      title: AssignmentRequest
      type: object
      description: ''
      properties:
        studentId:
          type: string
      required:
        - studentId
    PatchAssignmentRequest:
      title: PatchAssignmentRequest
      type: object
      properties:
        fileId:
          type: integer
          format: int32
        finalScore:
          type: number
          format: double
    UploadFileRequest:
      title: UploadFileRequest
      type: object
      properties:
        file:
          type: string
          format: binary
        owner:
          type: string
        fileType:
          type: string
          example: Assignment
          description: 枚举值，可以取值 Assignment
        involvedId:
          type: integer
          format: int32
        fileId:
          type: integer
          format: int32
          description: 可选，如果为空，则表示创建新文件；如果不为空，表示修改旧文件
      required:
        - owner
        - fileType
        - involvedId
    FilePackageResponse:
      title: FilePackageResponse
      type: object
      properties:
        packageId:
          type: string
        packageName:
          type: string
      required:
        - packageId
        - packageName
    FilePackageRequest:
      title: FilePackageRequest
      type: object
      properties:
        fileType:
          type: string
          example: 'Assignment, Resource'
        involvedId:
          type: integer
          format: int32
          description: 关联的实体ID
        fileIdList:
          type: array
          items:
            type: integer
            format: int32
      required:
        - fileType
        - involvedId
      description: fileIdList指定只打包哪些文件。当fileIdList不为空时，仅打包list中指定的文件（但此时list中的fileId必须合法，即必须确定是与对应的实体相关联的）；当其为空时，则打包所有相关文件。
    UploadFileResponse:
      title: UploadFileResponse
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileResponse'
    CourseResourceResponse:
      title: CourseResourceResponse
      type: object
      properties:
        id:
          type: integer
          format: int32
        courseId:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/FileResponse'
        experimentId:
          type: integer
          description: 当该值为0时，表示该资源不是从属某一门实验的资源
      required:
        - id
        - courseId
        - file
        - experimentId
    DeleteCourseResourcesRequest:
      title: DeleteCourseResourcesRequest
      type: object
      properties:
        idList:
          type: array
          items:
            type: integer
            format: int32
      required:
        - idList
    ExperimentResponse:
      description: ''
      type: object
      x-examples: { }
      title: ''
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        type:
          type: boolean
        detail:
          type: string
          minLength: 1
        resourceFile:
          $ref: '#/components/schemas/FileResponse'
        createTime:
          type: string
          minLength: 1
        startTime:
          type: string
          minLength: 1
        endTime:
          type: string
          minLength: 1
        deadline:
          type: string
          minLength: 1
        isPeerAssessment:
          type: boolean
        peerAssessmentDeadline:
          type: string
        appealDeadline:
          type: string
        peerAssessmentRules:
          type: string
        peerAssessmentStart:
          type: boolean
        sentEmail:
          type: boolean
        course:
          $ref: '#/components/schemas/CourseResponse'
      required:
        - id
        - name
        - type
        - detail
        - createTime
        - startTime
        - endTime
        - deadline
        - isPeerAssessment
        - peerAssessmentDeadline
        - appealDeadline
        - peerAssessmentRules
        - peerAssessmentStart
        - sentEmail
        - course
    StatCourseExp:
      description: ''
      type: object
      x-examples: { }
      title: ''
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        type:
          type: boolean
          description: 表示是实验还是作业。false表示是作业，true表示是实验
        detail:
          type: string
          minLength: 1
        createTime:
          type: string
          minLength: 1
        startTime:
          type: string
          minLength: 1
        endTime:
          type: string
          minLength: 1
        deadline:
          type: string
          minLength: 1
        isPeerAssessment:
          type: boolean
        peerAssessmentDeadline:
          type: string
        appealDeadline:
          type: string
        peerAssessmentRules:
          type: string
        peerAssessmentStart:
          type: boolean
        sentEmail:
          type: boolean
        vm:
          $ref: '#/components/schemas/ExpVmInfo'
        submittedAssignmentsCnt:
          type: integer
          format: int32
          description: 已提交作业的人数
      required:
        - id
        - name
        - type
        - detail
        - createTime
        - startTime
        - endTime
        - deadline
        - isPeerAssessment
        - peerAssessmentDeadline
        - appealDeadline
        - peerAssessmentRules
        - peerAssessmentStart
        - sentEmail
        - submittedAssignmentsCnt
    CourseResponse:
      description: ''
      type: object
      x-examples: { }
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        teacher:
          type: string
          description: 任课教师姓名
        term:
          $ref: '#/components/schemas/TermModel'
        createTime:
          type: string
          minLength: 1
        departmentId:
          type: string
          minLength: 1
        studentCnt:
          type: integer
          description: 本门课的学生人数
      required:
        - id
        - name
        - teacher
        - term
        - createTime
        - departmentId
        - studentCnt
    AssignmentListResponse:
      title: AssignmentListResponse
      type: object
      properties:
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentResponse'
      required:
        - assignments
    StatExpAssignmentResponse:
      title: StatExpAssignmentResponse
      description: 统计某门实验的提交作业的情况
      type: object
      properties:
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/StatExpAssignmentResponseAssignments'
    StatCourseExpsResponse:
      title: StatCourseExpsResponse
      type: object
      description: 某门课程中所有实验的详细统计信息
      properties:
        course:
          $ref: '#/components/schemas/CourseResponse'
        teacher:
          $ref: '#/components/schemas/UserModel'
        exps:
          type: array
          items:
            $ref: '#/components/schemas/StatCourseExp'
        studentCnt:
          type: integer
          format: int32
      required:
        - course
        - teacher
        - exps
        - studentCnt
    UserModel:
      title: UserModel
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        department:
          type: integer
          format: int32
        email:
          type: string
          format: email
        role:
          type: string
          example: 枚举值，teacher or student
      required:
        - id
        - name
        - department
        - email
        - role
    TermModel:
      title: TermModel
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ExpVmInfo:
      title: ExpVmInfo
      type: object
      description: 某次实验所分配的虚拟机情况
      properties:
        status:
          type: integer
          format: int32
        applyId:
          type: integer
          format: int32
        name:
          type: string
        password:
          type: string
        cnt:
          type: integer
          format: int32
      required:
        - status
        - applyId
        - name
        - password
        - cnt
    CreateExperimentRequest:
      title: CreateExperimentRequest
      type: object
      properties:
        courseId:
          type: integer
        name:
          type: string
        type:
          type: boolean
          description: 表示是“实验”还是“作业”
        startTime:
          type: string
        endTime:
          type: string
        deadline:
          type: string
        description:
          type: string
        enablePeer:
          type: boolean
        peerDescription:
          type: string
        peerEndTime:
          type: string
        peerAppealDeadline:
          type: string
      required:
        - courseId
        - name
        - type
        - startTime
        - endTime
        - deadline
        - enablePeer
    PutExperimentRequest:
      title: PutExperimentRequest
      type: object
      properties:
        name:
          type: string
        type:
          type: boolean
          description: 表示是“实验”还是“作业”
        startTime:
          type: string
        endTime:
          type: string
        deadline:
          type: string
        description:
          type: string
        enablePeer:
          type: boolean
        peerDescription:
          type: string
        peerEndTime:
          type: string
        peerAppealDeadline:
          type: string
        courseId:
          type: integer
          description: 该值在目前的处理逻辑中会被忽略
      required:
        - name
        - type
        - startTime
        - endTime
        - deadline
        - enablePeer
    CreatePeerAssessmentRequest:
      title: CreatePeerAssessmentRequest
      type: object
      properties:
        assignmentId:
          type: integer
          format: int32
        score:
          type: number
          format: double
        reason:
          type: string
      required:
        - assignmentId
        - score
    SimpleUser:
      title: SimpleUser
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      required:
        - id
        - name
    AssessmentInfoResponse:
      title: AssessmentInfoResponse
      type: object
      description: 当学生读取该Model时，assessor为空，表示学生不允许读取是谁评阅了自己的作业
      properties:
        assessor:
          $ref: '#/components/schemas/SimpleUser'
        assignmentId:
          type: integer
          format: int32
        score:
          type: number
          format: double
        adjustedScore:
          type: number
          format: double
          description: 调整后的分数
        assessedTime:
          type: integer
          format: int64
        reason:
          type: string
          description: 评分理由，没有理由的也要返回空String
    StudentPeerTaskResponse:
      title: StudentPeerTaskResponse
      type: object
      properties:
        id:
          type: integer
          description: AssignmentId
        file:
          $ref: '#/components/schemas/FileResponse'
        peerInfo:
          $ref: '#/components/schemas/AssessmentInfoResponse'
      required:
        - id
        - file
    AssignmentPeerAssessmentResultResponse:
      title: AssignmentPeerAssessmentResultResponse
      type: object
      properties:
        id:
          type: integer
          format: int32
        peerScore:
          type: number
          format: double
          description: 互评得到的分数
        finalScore:
          type: number
          format: double
          description: 教师干预后的分数
        peerInfoList:
          type: array
          items:
            $ref: '#/components/schemas/AssessmentInfoResponse'
      required:
        - id
        - peerInfoList
    PeerAppealResponse:
      title: PeerAppealResponse
      type: object
      properties:
        id:
          type: integer
          format: int32
        expId:
          type: integer
          format: int32
        studentId:
          type: string
        content:
          type: string
        appealedAt:
          type: integer
          format: int64
        processor:
          $ref: '#/components/schemas/SimpleUser'
        processContent:
          type: string
        processStatus:
          type: integer
          description: |-
            0: 未处理
            1: 批准
            2: 驳回
          format: int32
        processedAt:
          type: integer
          format: int64
      required:
        - id
        - expId
        - studentId
        - content
        - appealedAt
        - processStatus
    CreatePeerAppealRequest:
      title: CreatePeerAppealRequest
      type: object
      properties:
        content:
          type: string
        expId:
          type: integer
          format: int32
      required:
        - content
        - expId
    PatchPeerAppealRequest:
      title: PatchPeerAppealRequest
      type: object
      properties:
        content:
          type: string
        processStatus:
          type: integer
          format: int32
        processContent:
          type: string
    AssignmentReviewResponse:
      title: AssignmentReviewResponse
      type: object
      properties:
        id:
          type: integer
        assignmentId:
          type: integer
          format: int32
        fileId:
          type: integer
          format: int32
        reviewedAt:
          type: integer
          format: int64
        reviewerId:
          type: string
        reviewerName:
          type: string
      required:
        - id
        - assignmentId
        - fileId
        - reviewedAt
        - reviewerId
        - reviewerName
    AssignmentReviewRequest:
      title: AssignmentReviewRequest
      type: object
      properties:
        assignmentId:
          type: integer
          format: int32
        fileId:
          type: integer
          format: int32
      required:
        - assignmentId
        - fileId
    Authentication:
      title: Authentication
      type: object
      properties:
        id:
          type: string
          description: 用户的学工号，小写
        token:
          type: string
      required:
        - id
        - token
    VmNetInfo:
      title: VmNetInfo
      type: object
      properties:
        macAddress:
          type: string
        ipList:
          type: array
          items:
            type: string
      required:
        - macAddress
        - ipList
    VirtualMachine:
      title: VirtualMachine
      type: object
      properties:
        uuid:
          type: string
        platform:
          type: string
        name:
          type: string
        isTemplate:
          type: boolean
        host:
          type: string
        adminId:
          type: string
        studentId:
          type: string
        teacherId:
          type: string
        isExperimental:
          type: boolean
        experimentId:
          type: integer
          format: int32
        applyId:
          type: string
        memory:
          type: integer
          format: int32
          description: MB
        cpu:
          type: integer
          format: int32
        osFullName:
          type: string
        diskNum:
          type: integer
          format: int32
        diskSize:
          type: integer
          format: int64
          description: byte
        powerState:
          type: string
          description: 'suspended, poweredOn, poweredOff'
        overallStatus:
          type: string
          description: 'gray, green, yellow, red'
        netInfos:
          type: array
          items:
            $ref: '#/components/schemas/VmNetInfo'
      required:
        - uuid
        - platform
        - name
        - isTemplate
        - host
        - adminId
        - studentId
        - teacherId
        - isExperimental
        - experimentId
        - applyId
        - memory
        - cpu
        - osFullName
        - diskNum
        - diskSize
        - powerState
        - overallStatus
        - netInfos
    StatExpAssignmentResponseAssignments:
      title: StatExpAssignmentResponseAssignments
      type: object
      properties:
        studentId:
          type: string
        studentName:
          type: string
        assignment:
          $ref: '#/components/schemas/AssignmentResponse'
      required:
        - studentId
        - studentName
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      description: ''
      name: Authorization
  responses: { }
  requestBodies: { }
