openapi: 3.0.0
info:
  title: cloudapi_v2
  version: '2.0'
  description: buaa scs cloud api v2
  license:
    name: MIT
  contact:
    name: loheagn
    email: loheagn@icloud.com
  termsOfService: 'https://scs.buaa.edu.cn'
tags:
  - name: 课程
    description: 课程相关
  - name: 作业
    description: 作业相关
  - name: 文件
    description: 文件相关
  - name: 课程资源
    description: 课程资源相关
  - name: 统计
    description: 获取各种统计信息
servers:
  - url: 'https://scs.buaa.edu.cn/api/v2'
paths:
  '/experimnet/{experimentId}':
    parameters:
      - schema:
          type: integer
        name: experimentId
        in: path
        required: true
    get:
      summary: 获取一项实验（作业）
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResponse'
      operationId: get-experimnet-experimentId
      description: 获取一项实验（作业）详情
      security:
        - Authorization: []
  '/experiment/{experimentId}/assignment':
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
    post:
      summary: 创建作业
      tags:
        - 作业
      operationId: post-experiment-experimentId-assignment
      security:
        - Authorization: []
      description: 第一次上传作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignmentRequest'
  '/experiment/{experimentId}/assignments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: experimentId
        in: path
        required: true
    get:
      summary: 获取实验（作业）下学生提交的作业信息
      operationId: get-experiment-experimentId-assignment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentListResponse'
      description: |-
        获取实验（作业）下学生提交的作业信息

        如果是当前课程的教师或助教调用，则返回当前实验的全部作业

        否则，仅返回当前学生的作业
      security:
        - Authorization: []
      tags:
        - 作业
  '/experiment/{experimentId}/assignment/{assignmentId}':
    parameters:
      - schema:
          type: integer
        name: experimentId
        in: path
        required: true
      - schema:
          type: integer
        name: assignmentId
        in: path
        required: true
    patch:
      summary: 修改作业
      operationId: patch-experiment-experimentId-assignment
      security:
        - Authorization: []
      description: 重复上传作业，直接覆盖之前的作业
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAssignmentRequest'
    get:
      summary: 查看作业
      operationId: get-experiment-experimentId-assignment-assignmentId
      security:
        - Authorization: []
      description: 查看某次作业的详细信息
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignmentResponse'
  '/file/{fileId}':
    parameters:
      - schema:
          type: integer
        name: fileId
        in: path
        required: true
    get:
      summary: 获取文件元信息
      tags:
        - 文件
      operationId: get-file-fileId
      security:
        - Authorization: []
      description: 获取文件的元信息
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
  '/file/{fileId}/content':
    parameters:
      - schema:
          type: integer
          format: int32
        name: fileId
        in: path
        required: true
    get:
      summary: 下载文件
      tags:
        - 文件
      operationId: get-file-fileId-content
      description: |-
        下载文件
        文件的一些元信息（名称、format-type）等展示在相应的header中

        该接口的response是一个二进制字节流，即为文件的内容
      security:
        - Authorization: []
      parameters: []
      responses:
        '200':
          description: OK
          headers:
            content-disposition:
              schema:
                type: string
                example: attachment; filename=%E6%9D%8E%E6%A5%A0_15131049_%E6%B5%8B%E8%AF%95%E4%BD%9C%E4%B8%9A02.doc
              description: 可以从该header中检出文件名。从示例中可以看出，filename之后的内容为文件名（未防止乱码，文件名使用了URL编码，使用时可以重新解码）
            content-type:
              schema:
                type: string
              description: 描述了文件的mimetype
            file-size:
              schema:
                type: integer
                format: int64
              description: 文件大小
  /file:
    post:
      summary: 创建或修改文件
      operationId: post-file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileResponse'
      tags:
        - 文件
      description: 上传新文件，或修改旧文件。如果请求体中的fileId为空或为0，那么为创建新文件，或者为修改旧文件
      security:
        - Authorization: []
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
        description: 在创建文件时，支持传入多个fileItem。注意：如果fileId不为空且不为0时，传入多个fileItem，那么行为不可控
  /file/package:
    get:
      summary: 下载打包好的zip
      tags:
        - 文件
      responses:
        '200':
          description: OK
          headers:
            content-length:
              schema:
                type: string
            content-disposition:
              schema:
                type: string
                example: attachment; filename=package.zip
          content:
            application/zip:
              schema:
                type: object
                properties: {}
      operationId: get-file-package
      description: 打包下载文件，如下载当前实验的全部作业，或下载当前课程的全部资源
      security:
        - Authorization: []
      parameters:
        - schema:
            type: string
          in: query
          name: packageId
          required: true
        - schema:
            type: string
            format: int32
          in: query
          name: packageName
          required: true
    post:
      summary: 触发打包动作
      operationId: post-file-package
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilePackageResponse'
      tags:
        - 文件
      security:
        - Authorization: []
      description: 触发打包动作
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilePackageRequest'
  '/course/{courseId}/resources':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程所属的所有课程资源
      tags:
        - 课程资源
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResourceListResponse'
      operationId: get-course-courseId-resource
      security:
        - Authorization: []
      description: 获取课程所属的所有课程资源
    delete:
      summary: 批量删除课程资源
      operationId: delete-course-courseId-resources
      responses:
        '200':
          description: OK
      tags:
        - 课程资源
      description: 批量删除课程资源
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCourseResourcesRequest'
  '/course/{courseId}/resource/{resourceId}':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
      - schema:
          type: integer
          format: int32
        name: resourceId
        in: path
        required: true
    delete:
      summary: 删除课程资源
      operationId: delete-course-courseId-resource-resourceId
      responses:
        '200':
          description: OK
      tags:
        - 课程资源
      description: 删除课程资源
      security:
        - Authorization: []
  '/course/{courseId}':
    parameters:
      - schema:
          type: string
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程信息
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CourseResponse'
      operationId: get-course-courseId
      description: 获取课程信息
      security:
        - Authorization: []
  '/stat/exp/{expId}/assignments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: expId
        in: path
        required: true
    get:
      summary: 统计某门实验的提交作业的情况
      tags:
        - 统计
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatExpAssignmentResponse'
      operationId: get-stat-exp-expId-assignment
      description: 统计某门实验的提交作业的情况（该课程的助教或教师调用）
      security:
        - Authorization: []
  '/stat/course/{courseId}/experiments':
    parameters:
      - schema:
          type: integer
          format: int32
        name: courseId
        in: path
        required: true
    get:
      summary: 获取课程中所有实验的统计信息
      tags:
        - 统计
        - 课程
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatCourseExpsResponse'
      operationId: get-stat-course-courseId-experiments
      description: 获取课程中所有实验的统计信息，本课程的助教或教师调用
      security:
        - Authorization: []
  /expriments:
    get:
      summary: 获取实验信息列表
      tags:
        - 作业
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExperimentResponse'
      operationId: get-expriments
      description: 学生获取属于自己的实验信息列表
      security:
        - Authorization: []
      parameters:
        - schema:
            type: integer
            format: int32
          in: query
          name: termId
          description: 学期序号。该值缺失，或小于等于0时，将默认获取最新学期的信息
        - schema:
            type: boolean
          in: query
          name: submitted
          description: 当为true时，表示获取已完成的实验列表；为false时，表示获取未完成的实验列表；缺失时，表示同时获取已完成和未完成的实验列表。
        - schema:
            type: integer
          in: query
          name: courseId
          description: 当为空或不合法时，获取所有符合上述条件的课程的实验列表
components:
  schemas:
    AssignmentResponse:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 22
          studentId: '15131049'
          fileId: 40
          expId: 1062
          courseId: 438
          createdAt: 1643361519220
          updatedAt: 1643363133061
      properties:
        id:
          type: integer
        studentId:
          type: string
          minLength: 1
        expId:
          type: integer
        courseId:
          type: integer
        file:
          $ref: '#/components/schemas/FileResponse'
        createdAt:
          type: integer
          format: int64
          description: 长整型时间戳
        updatedAt:
          type: integer
          format: int64
          description: 长整型时间戳
      required:
        - id
        - studentId
        - expId
        - courseId
        - createdAt
        - updatedAt
    FileResponse:
      description: ''
      type: object
      x-examples:
        example-2:
          id: 0
          name: string
          uploadTime: -9223372036854776000
          fileType: string
          fileSize: -9223372036854776000
          uploader: string
          owner: string
          downloadLink: 'http://example.com'
          createdAt: -9223372036854776000
          updatedAt: -9223372036854776000
          contentType: string
          involveId: -2147483648
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        uploadTime:
          type: integer
          format: int64
        fileType:
          type: string
          minLength: 1
          description: 文件类型，枚举值，可选：Assignment
        fileSize:
          type: integer
          format: int64
          description: 文件大小，长整型
        uploader:
          type: string
          minLength: 1
        owner:
          type: string
          minLength: 1
        downloadLink:
          type: string
          format: uri
        createdAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        contentType:
          type: string
          description: mimeType
        involveId:
          type: integer
          format: int32
      required:
        - id
        - name
        - uploadTime
        - fileType
        - fileSize
        - uploader
        - owner
        - downloadLink
        - createdAt
        - updatedAt
        - contentType
        - involveId
    AssignmentRequest:
      title: AssignmentRequest
      type: object
      description: ''
      properties:
        studentId:
          type: string
      required:
        - studentId
    PatchAssignmentRequest:
      title: PatchAssignmentRequest
      type: object
      properties:
        fileId:
          type: integer
          format: int32
      required:
        - fileId
    UploadFileRequest:
      title: UploadFileRequest
      type: object
      properties:
        file:
          type: string
          format: binary
        owner:
          type: string
        fileType:
          type: string
          example: Assignment
          description: 枚举值，可以取值 Assignment
        involvedId:
          type: integer
          format: int32
        fileId:
          type: integer
          format: int32
          description: 可选，如果为空，则表示创建新文件；如果不为空，表示修改旧文件
      required:
        - owner
        - fileType
        - involvedId
    FilePackageResponse:
      title: FilePackageResponse
      type: object
      properties:
        packageId:
          type: string
        packageName:
          type: string
      required:
        - packageId
        - packageName
    FilePackageRequest:
      title: FilePackageRequest
      type: object
      properties:
        fileType:
          type: string
          example: 'Assignment, Resource'
        involvedId:
          type: integer
          format: int32
          description: 关联的实体ID
        fileIdList:
          type: array
          items:
            type: integer
            format: int32
      required:
        - fileType
        - involvedId
      description: fileIdList指定只打包哪些文件。当fileIdList不为空时，仅打包list中指定的文件（但此时list中的fileId必须合法，即必须确定是与对应的实体相关联的）；当其为空时，则打包所有相关文件。
    UploadFileResponse:
      title: UploadFileResponse
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/FileResponse'
    CourseResourceListResponse:
      title: CourseResourceListResponse
      type: object
      properties:
        resources:
          type: array
          items:
            $ref: '#/components/schemas/CourseResourceResponse'
      required:
        - resources
    CourseResourceResponse:
      title: CourseResourceResponse
      type: object
      properties:
        id:
          type: integer
          format: int32
        courseId:
          type: integer
          format: int32
        file:
          $ref: '#/components/schemas/FileResponse'
      required:
        - id
        - courseId
        - file
    DeleteCourseResourcesRequest:
      title: DeleteCourseResourcesRequest
      type: object
      properties:
        idList:
          type: array
          items:
            type: integer
            format: int32
      required:
        - idList
    ExperimentResponse:
      description: ''
      type: object
      x-examples: {}
      title: ''
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        type:
          type: boolean
        detail:
          type: string
          minLength: 1
        resourceFile:
          $ref: '#/components/schemas/FileResponse'
        createTime:
          type: string
          minLength: 1
        startTime:
          type: string
          minLength: 1
        endTime:
          type: string
          minLength: 1
        deadline:
          type: string
          minLength: 1
        isPeerAssessment:
          type: boolean
        peerAssessmentDeadline:
          type: string
        appealDeadline:
          type: string
        peerAssessmentRules:
          type: string
        peerAssessmentStart:
          type: boolean
        sentEmail:
          type: boolean
        course:
          $ref: '#/components/schemas/CourseResponse'
      required:
        - id
        - name
        - type
        - detail
        - createTime
        - startTime
        - endTime
        - deadline
        - isPeerAssessment
        - peerAssessmentDeadline
        - appealDeadline
        - peerAssessmentRules
        - peerAssessmentStart
        - sentEmail
        - course
    StatCourseExp:
      description: ''
      type: object
      x-examples: {}
      title: ''
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        type:
          type: boolean
          description: 表示是实验还是作业。false表示是作业，true表示是实验
        detail:
          type: string
          minLength: 1
        resourceFile:
          $ref: '#/components/schemas/FileResponse'
        createTime:
          type: string
          minLength: 1
        startTime:
          type: string
          minLength: 1
        endTime:
          type: string
          minLength: 1
        deadline:
          type: string
          minLength: 1
        isPeerAssessment:
          type: boolean
        peerAssessmentDeadline:
          type: string
        appealDeadline:
          type: string
        peerAssessmentRules:
          type: string
        peerAssessmentStart:
          type: boolean
        sentEmail:
          type: boolean
        vm:
          $ref: '#/components/schemas/ExpVmInfo'
        submittedAssignmentsCnt:
          type: integer
          format: int32
          description: 已提交作业的人数
      required:
        - id
        - name
        - type
        - detail
        - createTime
        - startTime
        - endTime
        - deadline
        - isPeerAssessment
        - peerAssessmentDeadline
        - appealDeadline
        - peerAssessmentRules
        - peerAssessmentStart
        - sentEmail
        - submittedAssignmentsCnt
    CourseResponse:
      description: ''
      type: object
      x-examples: {}
      properties:
        id:
          type: integer
        name:
          type: string
          minLength: 1
        teacher:
          type: string
          description: 任课教师姓名
        term:
          $ref: '#/components/schemas/TermModel'
        createTime:
          type: string
          minLength: 1
        departmentId:
          type: string
          minLength: 1
        studentCnt:
          type: integer
          description: 本门课的学生人数
      required:
        - id
        - name
        - teacher
        - term
        - createTime
        - departmentId
        - studentCnt
    AssignmentListResponse:
      title: AssignmentListResponse
      type: object
      properties:
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/AssignmentResponse'
      required:
        - assignments
    StatExpAssignmentResponse:
      title: StatExpAssignmentResponse
      description: 统计某门实验的提交作业的情况
      type: object
      properties:
        assignments:
          type: array
          items:
            type: object
            properties:
              studentId:
                type: string
              studentName:
                type: string
              assignment:
                $ref: '#/components/schemas/AssignmentResponse'
            required:
              - studentId
              - studentName
    StatCourseExpsResponse:
      title: StatCourseExpsResponse
      type: object
      description: 某门课程中所有实验的详细统计信息
      properties:
        course:
          $ref: '#/components/schemas/CourseResponse'
        teacher:
          $ref: '#/components/schemas/UserModel'
        students:
          type: array
          items:
            $ref: '#/components/schemas/UserModel'
        exps:
          type: array
          items:
            $ref: '#/components/schemas/StatCourseExp'
      required:
        - course
        - teacher
        - students
        - exps
    UserModel:
      title: UserModel
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        department:
          type: integer
          format: int32
        email:
          type: string
          format: email
        role:
          type: string
          example: 枚举值，teacher or student
      required:
        - id
        - name
        - department
        - email
        - role
    TermModel:
      title: TermModel
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
    ExpVmInfo:
      title: ExpVmInfo
      type: object
      description: 某次实验所分配的虚拟机情况
      properties:
        status:
          type: integer
          format: int32
        applyId:
          type: integer
          format: int32
        name:
          type: string
        password:
          type: string
        cnt:
          type: integer
          format: int32
      required:
        - status
        - applyId
        - name
        - password
        - cnt
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      description: ''
      name: Authorization
  responses: {}
  requestBodies: {}
